@font-face {
  font-family: "Roboto";
  font-style: normal;

  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;

  src: url(./fonts/BebasNeue-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #100f12;
  color: #717176;
}

html {
  scroll-behavior: smooth;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  border: none;
}
